[Unit]
Description=CoopHive Mediator
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Environment="LOG_TYPE=json"
Environment="LOG_LEVEL=debug"
Environment="HOME=/app/coophive"
EnvironmentFile=/app/coophive/mediator.env
Restart=always
RestartSec=5s
ExecStart=/usr/bin/coophive mediator

[Install]
WantedBy=multi-user.target
